{% extends 'base_landing.html.twig' %}

{% block title %} MSG-PRO : La meilleure plate-forme d'envoi des SMS rapidement{% endblock %}

{% block body %}

    <header id="header" class="header fixed-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@msg-pro.com">Info@msg-pro.com</a></i>
                    <i class="bi bi-phone d-flex align-items-center ms-4"><span>+243 851 331 051</span></i>
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=61575012670787" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/106139815" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-center">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img src="assets/img/logo.png" alt="">
                    <h1 class="sitename">MSG-PRO</h1>
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="#hero" class="active">Home</a></li>
                        <li><a href="#about">A Propos</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#tarifs">Tarifs</a></li>
                        <li><a href="#contact">Contact</a></li>
                        {% if app.user %}
                            <a href="{{ path("app_home") }}" class="btn btn-outline-danger btn-sm">{{ app.user.username }}</a>

                        {% else %}
                            <li><a href="{{ path("app_login") }}">Connexion</a></li>

                        {% endif %}
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>

        </div>

    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">

            <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row justify-content-start">
                    <div class="col-lg-8">
                        <h2>Créer une campagne SMS personnalisée avec notre Outil d'envoi de SMS professionnel</h2>
                        <p></p>
                        <a href="#tarifs" class="btn-get-started">Tarifs</a>
                    </div>
                </div>
            </div>

        </section><!-- /Hero Section -->

        <!-- About Section -->
        <section id="about" class="about section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span>A Propos<br></span>
                <h2>A Propos<br></h2>
                <p>Vos campagnes SMS, boostées à la vitesse de la lumière</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                        <h3>Gagnez du temps, boostez votre communication. Le SMS simplifié pour tous</h3>
                        <p class="fst-italic">
                            Nous sommes spécialisés dans la fourniture de solutions d'envoi de SMS en masse personnalisées pour les entreprises en RDC. Notre plateforme robuste et fiable vous permet de créer et d'envoyer des campagnes SMS ciblées à votre audience.
                            Bénéficiez d'un taux de livraison élevé et d'une personnalisation avancée pour maximiser l'impact de vos communications.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Un tableau de Bord intuitif pour le suivi de vos SMS</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Des SMS qui n'expirent pas avec le temps</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Gestion automatique des vos stocks SMS</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Obtenez 5 SMS a la creation de votre Compte</span></li>
                        </ul>
                        <a href="{{ path("app_register") }}" class="read-more"><span>S'inscrire</span><i class="bi bi-arrow-right"></i></a>
                    </div>

                </div>

            </div>

        </section><!-- /About Section -->

{#        <!-- Cards Section -->#}
{#        <section id="cards" class="cards section">#}

{#            <div class="container">#}

{#                <div class="row no-gutters">#}

{#                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="100">#}
{#                        <span>01</span>#}
{#                        <h4>Lorem Ipsum</h4>#}
{#                        <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>#}
{#                    </div><!-- End Card Item -->#}

{#                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="200">#}
{#                        <span>02</span>#}
{#                        <h4>Repellat Nihil</h4>#}
{#                        <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>#}
{#                    </div><!-- End Card Item -->#}

{#                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="300">#}
{#                        <span>03</span>#}
{#                        <h4> Ad ad velit qui</h4>#}
{#                        <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>#}
{#                    </div><!-- End Card Item -->#}

{#                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="400">#}
{#                        <span>04</span>#}
{#                        <h4>Repellendus molestiae</h4>#}
{#                        <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>#}
{#                    </div><!-- End Card Item -->#}

{#                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="400">#}
{#                        <span>05</span>#}
{#                        <h4>Sapiente Magnam</h4>#}
{#                        <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>#}
{#                    </div><!-- End Card Item -->#}

{#                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="600">#}
{#                        <span>06</span>#}
{#                        <h4>Facilis Impedit</h4>#}
{#                        <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>#}
{#                    </div><!-- End Card Item -->#}

{#                </div>#}

{#            </div>#}

{#        </section><!-- /Cards Section -->#}

        <!-- Clients Section -->
        <section id="clients" class="clients section light-background">

            <div class="container">

                <div class="swiper init-swiper">
                    <div class="swiper-wrapper align-items-center">
                        </div>
                </div>

            </div>
        </section><!-- /Clients Section -->

        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span>Services</span>
                <h2>Services</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <i class="bi bi-activity"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Facile à utiliser</h3>
                            </a>
                            <p> L'application est simple à prendre en main, même si vous n'êtes pas un expert.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-broadcast"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>RAPIDE</h3>
                            </a>
                            <p>Traitement ultra-rapide des grands volumes pour des campagnes efficaces.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-easel"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Support Client Dédié</h3>
                            </a>
                            <p>
                                Bénéficiez d'une assistance technique personnalisée pour vous accompagner dans l'utilisation de l'application et répondre à toutes vos questions.
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-bounding-box-circles"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Clients ciblés</h3>
                            </a>
                            <p>Divisez votre base de contacts en segments distincts (par localisation, comportement, intérêts) pour envoyer des messages ciblés et pertinents.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-calendar4-week"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Envoi Massif</h3>
                            </a>
                            <p>
                                Envoyez un grand nombre de SMS simultanément pour toucher un large public rapidement et efficacement.
                            </p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-chat-square-text"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>FIABLE</h3>
                            </a>
                            <p>Garantissez une haute disponibilité du service, même en cas de pic de trafic ou de problèmes techniques</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services Section -->

        <!-- Call To Action Section -->
        <section id="call-to-action" class="call-to-action section dark-background">

            <img src="" alt="">

            <div class="container">
                <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-xl-10">
                        <div class="text-center">
                            <h3>Prêt à révolutionner votre marketing par SMS ?</h3>
                            <p>Augmentez votre chiffre d'affaires grâce à des campagnes SMS ciblées. Souscrivez dès maintenant;
                                Gagnez du temps et améliorez votre relation client. Achetez nos crédits SMS dès aujourd'hui;
                                Simplifiez votre communication avec nos forfaits sur mesure. Commandez les vôtres !
                            </p>
                            <a class="cta-btn" href="{{ path("app_register") }}">S'inscrire</a>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /Call To Action Section -->

        <!-- Pricing Section -->
        <section id="tarifs" class="pricing section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span>Tarifs</span>
                <h2>Tarifs</h2>
                <p>Simplifiez votre communication avec nos forfaits sur mesure. Commandez les vôtres !</p>
            </div><!-- End Section Title -->

            <div class="container">
                <div class="row g-12 mb-3">
                    <div class="col-12">
                        <p class="text-center font-weight-bolder">0.06 $ / SMS </p>
                    </div>

                </div>
                <div class="row g-4 g-lg-0">

                    <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item">
                            <h3>Pack Mini </h3>
                            <h4><sup>$</sup>6<span> / 100 SMS</span></h4>
                            <h5 class="text-decoration-line-through">$ 8.5 / 100 SMS</h5>
{#                            <ul>#}
{#                                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>#}
{#                                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>#}
{#                                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>#}
{#                            </ul>#}
                            <div class="text-center"><a href="{{ path("app_confirmer_commande", {prix:0.06, montant:6}) }}" class="buy-btn">Commander</a></div>
                        </div>
                    </div><!-- End Pricing Item -->

                    <div class="col-lg-4 featured" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pricing-item">
                            <h3>Pack Midi</h3>
                            <h4><sup>$</sup>30<span> / 500 SMS</span></h4>
                            <h5 class="text-decoration-line-through">$ 42.5 / 500 SMS</h5>

{#                            <ul>#}
{#                                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>#}
{#                            </ul>#}
                            <div class="text-center"><a href={{ path("app_confirmer_commande", {prix:0.06, montant:30}) }} class="buy-btn">Commander</a></div>
                        </div>
                    </div><!-- End Pricing Item -->

                    <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item">
                            <h3>Pack Maxi</h3>
                            <h4><sup>$</sup>150<span> / 2500 SMS</span></h4>
                            <h5 class="text-decoration-line-through">$ 212.5 / 2500 SMS</h5>

{#                            <ul>#}
{#                                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>#}
{#                                <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>#}
{#                            </ul>#}
                            <div class="text-center"><a href={{ path("app_confirmer_commande", {prix:0.06, montant:150}) }} class="buy-btn">Commander</a></div>
                        </div>
                    </div><!-- End Pricing Item -->

                </div>

            </div>

        </section><!-- /Pricing Section -->
        <section id="clients" class="clients section light-background">

            <div class="container">

                <div class="swiper">

                    <div class="swiper-wrappe">
                        <h3>Pack Personnalisé</h3>
                        <p class="text-black">Commandez un pack personnalisé selon votre budjet en cliquant<a class="btn btn-sm btn-outline-danger" href="{{ path("app_commande") }}"> sur ce lien</a></p>
                    </div>
                </div>

            </div>

        </section><!-- /Clients Section -->


        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span>Contact</span>
                <h2>Contact</h2>
{#                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Addresse</h3>
                            <p>1434 RN39, Kolwezi, Lualaba/RDC</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone"></i>
                            <h3>Appel & whatApp</h3>
                            <p><a href="https://wa.me/+243851331051"> +243 851 331 051</a></p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope"></i>
                            <h3>Email</h3>
                            <p>info@msg-pro.com</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="row gy-4 mt-1">
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div><!-- End Google Maps -->

                    <div class="col-lg-6">
                        <form action="#" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit">Envoyer Messag</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->

    </main>

    <footer id="footer" class="footer position-relative dark-background">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-about">
                        <a href="" class="logo sitename">MSG-PRO</a>
                        <div class="footer-contact pt-3">
                            <p>1434 RN39,</p>
                            <p>Kolwezi, Lualaba/RDC</p>
                            <p class="mt-3"><strong>Phone:</strong> <span>+243 851 331 051 </span></p>
                            <p><strong>Email:</strong> <span>info@msg-pro.com</span></p>
                        </div>
                        <div class="social-links d-flex mt-4">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Liens</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#about">A Propos</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#tarifs">Tarifs</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="{{ path("app_documentation") }}">Documentation</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Nos Services SMS Pour:</h4>
                    <ul>
                        <li><a href="#">Entreprise</a></li>
                        <li><a href="#">Association</a></li>
                        <li><a href="#">Particulier</a></li>
{#                        <li><a href="#">Marketing</a></li>#}
{#                        <li><a href="#">Graphic Design</a></li>#}
                    </ul>
                    <img class="img-responsive h-25 w-25" src="{{ asset("landing/assets/img/favicon.png") }}" alt="MSG-PRO log">
                </div>

{#                <div class="col-lg-4 col-md-12 footer-newsletter">#}
{#                    <h4>Our Newsletter</h4>#}
{#                    <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>#}
{#                    <form action="forms/newsletter.php" method="post" class="php-email-form">#}
{#                        <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>#}
{#                        <div class="loading">Loading</div>#}
{#                        <div class="error-message"></div>#}
{#                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>#}
{#                    </form>#}
{#                </div>#}

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename"MSG-PRO</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://Insoftware.tech/">Insoftware.tech</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
{#    <div id="preloader"></div>#}

{% endblock %}