{% extends 'base2.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <div class="login-logo">
                <a href="{{ path("app_landing") }}">
                    <img class="img-rounded w-50 " src="{{ asset("msg-logo.png") }}" alt="Envoi des SMS rapides | SMS en masse">
                </a>
            </div>
        </div>

            <div class="card">
                <div class="card-header bg-dark">
                    <h4>Creer un compte</h4>
                </div>
                <div class="card-body">
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                    <div id="msg-return" class="form-group">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    <span>{{ message }}</span>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                        <div class="form-group">
                            <label for="">Nom d'Utilisateur *</label>
                            {{ form_widget(registrationForm.username, {'attr': {'class':'form-control'}}) }}
                        </div>
                    <div class="form-group">
                        <label for="">Email *</label>
                        {{ form_widget(registrationForm.Email, {'attr': {'class':'form-control', 'type':'email', 'required':'true'}}) }}

                    </div>
                    <div class="form-group">
                        <label for="">Telephone *</label>
                        {{ form_widget(registrationForm.telephone, {'attr': {'class':'form-control', 'type':'telephone', 'required':'true'}}) }}

                    </div>

                    <div class="form-group">
                        <label for="">Mot de Passe</label>
                        {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control'}}) }}
                    </div>
{#                        {{ form_row(registrationForm.username, {'label': 'Nom d\'Utilisateur'}) }}#}
                    <div class="form-group">
                        <label for="">Confirmer le Mot de Passe *</label>
                        {{ form_widget(registrationForm.plainPassword2,{'attr':{'class':'form-control'}}) }}

                    </div>
{#                    <div class="form-group g-recaptcha"#}
{#                         data-sitekey="{{ site_key }}"#}
{#                         data-callback="recaptchaSuccess"#}
{#                         data-expired-callback="recaptchaExpired">#}
{#                        {{ form_row(registrationForm.recaptcha) }}#}
{#                    </div>#}

{#                        {{ form_row(registrationForm.agreeTerms) }}#}


                        <button type="submit" id="btn-register" class="btn btn-info">S'inscrire</button>
                        <span>Deja un compte? <a href="{{ path("app_login") }}">Se connecter</a></span>
                    {{ form_end(registrationForm) }}
                </div>
            </div>

        </div>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfUJ0UsAAAAAN6V75teV6YuXPCS2cfe7GR7xeg7"></script>

    <script src="{{ asset("plugins/jquery/jquery.min.js") }}"></script>

    <script>
        let site_key = "{{ site_key }}";
        let myToken = ""


        $(document).ready(function(e){
{#            {{ recaptcha3_script() }}#}
            console.log($("#registration_form_captcha").val())
            grecaptcha.ready(() => {
                grecaptcha.execute('{{ site_key }}', { action: 'test' })
                    .then(token => {
                        console.log('TOKEN:', token);
                        myToken = token;
                    });
            });

            //$("#btn-register").on('click', function(e){
            $('form[name="registration_form"]').on('submit', function(e) {
                e.preventDefault();
                let form = this;
                let email = $("#registration_form_Email").val()
                let username = $("#registration_form_username").val()
                let pwd = $("#registration_form_plainPassword").val()
                let pwd2 = $("#registration_form_plainPassword2").val()
                if(!validateEmail(email)){
                    $("#msg-return")
                        .text("Email invalide.")
                        .addClass("text-danger")
                    return false
                }else if(pwd !== pwd2){
                    $("#msg-return")
                        .text("Les mots de passe ne sont pas identiques .")
                        .addClass("text-danger")
                    return false
                }
                //checking email availability
                $.ajax({
                    url: 'JsonCheckCredentials?email='+email+'&username='+username,
                    method: 'GET',
                    data: {},
                    success: function (data) {
                        if(data !== true){
                            $("#msg-return")
                                .text(data)
                                .addClass("text-danger")
                            return false
                        }
                    },
                    error: function () {
                        alert('Une erreur est survenue. Veuillez contacter votre admin.');
                        // Autres actions à effectuer en cas d'erreur
                    }
                    //let qty = $(this).parent("td").siblings("td").children("input[x-model='item.quantity']")
                })

                //cheking recaptcha
                $.ajax({
                    url: 'JsonVerifyRecaptcha?token='+ myToken,
                    method: 'GET',
                    data: {
                    },
                    success: function (data) {
                        console.log(data);
                        if(data["success"] === true && data["score"] > 0.5){
                            form.submit()
                        }else{
                            alert('Une erreur est survenue. Veuillez rafraichir la page.');
                        }
                    },
                    error: function () {
                        alert('Une erreur est survenue. Veuillez rafraichir la page.');
                        // Autres actions à effectuer en cas d'erreur
                    }
                    //let qty = $(this).parent("td").siblings("td").children("input[x-model='item.quantity']")
                })
                return false
            })
            function validateEmail(email) {
                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            }
        })

        function recaptchaSuccess() {
            // L'utilisateur a validé le captcha
            document.getElementById('btn-register').disabled = false;
        }

        function recaptchaExpired() {
            // Le captcha a expiré, on bloque à nouveau le bouton
            document.getElementById('btn-register').disabled = true;
        }

        function getRecaptchaToken(){
            let mytok
            grecaptcha.ready(() => {
                grecaptcha.execute('{{ site_key }}', { action: 'test' })
                    .then(token => {
                        console.log('TOKEN:', token);
                        myToken = token;
                    });
            });
        }

    </script>

    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LfUJ0UsAAAAAN6V75teV6YuXPCS2cfe7GR7xeg7', { action: 'submit' })
                .then(function (token) {
                    document.getElementById('registration_form_captcha').value = token;
                });
        });

        grecaptcha.execute('{{ site_key }}', { action: 'login' })
            .then(function(token) {
                document.getElementById('registration_form_captcha').value = token;
            });
    </script>
{% endblock %}
{% block javascripts %}
{% endblock %}