{% extends 'base.html.twig' %}

{% block title %}Envoyer SMS{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h3>Destinataires</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Texte</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for templatesm in templatesms %}
                            <tr>
                                <td>{{ templatesm.id }}</td>
                                <td>{{ templatesm.texte }}</td>
                                <td>
                                    <a href="{{ path('app_templatesms_show', {'id': templatesm.id}) }}">show</a>
                                    <a href="{{ path('app_templatesms_edit', {'id': templatesm.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('app_templatesms_new') }}">Create new</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
