{% extends 'base.html.twig' %}

{% block title %}Envoyer SMS{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-gradient-dark d-flex justify-content-between">
                    <h3>Modeles des Messages</h3>
                    <a class="btn btn-success" href="{{ path('app_templatesms_new') }}">Creer</a>

                </div>
                <div class="card-body">
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Texte</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set counter = 0 %}
                        {% for templatesm in templatesms %}
                            {% set counter = counter + 1 %}
                            <tr>
                                <td>{{ counter }}</td>
                                <td>{{ templatesm.texte }}</td>
                                <td>
{#                                    <a href="{{ path('app_templatesms_show', {'id': templatesm.id}) }}">show</a>#}
                                    <a href="{{ path('app_templatesms_edit', {'id': templatesm.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
