{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h3>Historique</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Numero</th>
                            <th>Message</th>
                            <th>Ticket</th>
                            <th>Reponse</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for historique in historiques %}
                            <tr>
                                <td>{{ historique.date | date("d/m/Y H:m:s") }}</td>
                                <td>{{ historique.numero | replace({'%2b': '+'}) }}</td>
                                <td>{{ historique.message | replace({'+': ' '}) }}</td>
                                <td>{{ historique.ticket }}</td>
                                <td>{{ historique.reponse }}</td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
