{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card-header bg-gradient-dark">
            <h3>Liste des Contacts</h3>
        </div>
        <div class="card-body">
            <table class="table" id="example1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Telephone</th>
                    <th>Nom</th>
                    <th>Postnom</th>
                    <th>Adresse</th>
                    <th>Fonction</th>
                    <th>Groupe</th>
                    <th>Organisation</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% if is_granted('ROLE_ADMIN') %}
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.id }}</td>
                            <td>{{ contact.telephone }}</td>
                            <td>{{ contact.nom }}</td>
                            <td>{{ contact.postnom }}</td>
                            <td>{{ contact.adresse }}</td>
                            <td>{{ contact.fonction }}</td>
                            <td>{{ contact.groupe.designation }}</td>
                            <td>{{ contact.groupe.organisation.designation }}</td>
                            <td>
                                <a href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
                                <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                {% else %}

                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.telephone }}</td>
                        <td>{{ contact.nom }}</td>
                        <td>{{ contact.postnom }}</td>
                        <td>{{ contact.adresse }}</td>
                        <td>{{ contact.fonction }}</td>
                        <td>{{ contact.groupe }}</td>
                        <td>{{ contact.organisation }}</td>
                        <td>
                            <a href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
                            <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <a href="{{ path('app_contact_new') }}">Create new</a>

        </div>
    </div>

    <script src="{{ asset("plugins/jquery/jquery.js") }}"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        })
    </script>
{% endblock %}
