{% extends 'base.html.twig' %}

{% block title %}Organisation index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-12">

            <table class="table datatable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Designation</th>
                    <th>Rccm</th>
                    <th>Idnat</th>
                    <th>Adresse</th>
                    <th>Expediteur</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% set counter = 0 %}
                {% for organisation in organisations %}
                    {% set counter = counter + 1 %}

                    <tr>
                        <td>{{ organisation.id }}</td>
                        <td>{{ organisation.designation }}</td>
                        <td>{{ organisation.rccm }}</td>
                        <td>{{ organisation.idnat }}</td>
                        <td>{{ organisation.adresse }}</td>
                        <td>
                            {% if organisation.isApproved %}
                            <span class="text-success">Approuve</span>
                            {% else %}
                                <span class="text-info">Attente</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ path('app_organisation_show', {'id': organisation.id}) }}">Details</a>
                            <a class="btn btn-primary btn-sm" href="{{ path('app_organisation_edit', {'id': organisation.id}) }}">Modifier</a>
                            {% if is_granted("ROLE_ADMIN") %}
                                {% if organisation.isApproved %}
                                    <a class="btn btn-sm btn-outline-danger" href="{{ path('app_organisation_disapprove', {'id': organisation.id}) }}">Approuver</a>
                                {% else %}
                                    <a class="btn btn-sm btn-info" href="{{ path('app_organisation_approve', {'id': organisation.id}) }}">Despprouver</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


    <a href="{{ path('app_organisation_new') }}">Create new</a>
{% endblock %}
